<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="statistics" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${dubbo.log.root}/statistics.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="maxFileSize" value="1073741824"/>
        <param name="maxBackupIndex" value="3"/>
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="${dubbo.log.root}/statistics.log.%d{yyyy-MM-dd-HH}" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%t] %c{20} - %m%n"/>
        </layout>
    </appender>

    <logger name="com.wrapper.dubbo.statistics.StatisticsLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="statistics"/>
    </logger>

</log4j:configuration>