<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<appender name="statistics"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${dubbo.log.root}/statistics.log</File>
		<append>true</append>
		<encoder>
			<pattern>%d|%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${dubbo.log.root}/statistics.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="com.wrapper.dubbo.statistics.StatisticsLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="statistics" />
	</logger>
</configuration>